.container {
    padding: 1rem;
    h2,
    h3,
    p {
        margin-bottom: 0.5rem;
    }
    p {
        max-width: 55ch;
    }

    @media(min-width:768px) {
        padding: 3rem;
    }
}

.wrapper {
    background-color: #3F72AF;
    border-radius: 0.25rem;
    color: #F9F7F7;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
    max-width: 1000px;
    margin-inline: auto;

    @media(min-width:1024px) {
        padding: 2rem;
        flex-direction: row;
        text-align: start;
    }
}