.container {
    padding: 2rem 3rem;

    h1 {
        font-size: 62px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 2rem;
    }
    span {
        color: #112D4E;
        font-weight: 700;
    }

    p {
        margin-bottom: 2rem;
        font-size: 18px;
    }
}