.container {
    background-color: #444444;
    
    border-radius: 1rem;
    color: white;
    max-width: 1300px;
    margin-inline: auto;
    position: relative;

    @media(min-width:768px) {
        display: flex;
    }
}