.container {
    background-color: #FAF9F6;
    border-radius: 1rem;
    max-width: 1300px;
    margin-inline: auto;
    position: relative;

    @media(min-width:768px) {
        display: flex;
    }
}