// div {
//     border: 1px solid black;
// }

.wrapper {
    border-radius: 1rem;
    // background-color: #FAF9F6;
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
    margin-block: 2rem;
    padding-inline: 0.5rem;
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    input {
        width: 80%;
        background-color: #E5E4E2;
        border: none;
        border-radius: 1.25rem;
        padding: 1rem 2rem;
    }

    button {
        cursor: pointer;
        width: 80%;
        background-color: #D27D2D;
        border-radius: 1.25rem;
        border: none;
        padding: 1rem 2rem;
        color: #FAF9F6;
    }

    a {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.forgot {
    margin-bottom: 1rem;
    color: #71797E;
    font-size: 12px;
}