.wrapper {
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
    padding-block: 5rem;
    gap: 1.5rem;
    text-align: center;

    background-color: #F9F7F7;

    h1 {
        font-size: 52px;
        line-height: 1.0;
        margin-bottom: 1rem;

    }

    h2 {
        margin-bottom: 1rem;
    }

    input {
        background-color: #DBE2EF;
        border: none;
        border-radius: 1.25rem;
        padding: 1rem 2rem;
    }

    input::placeholder {
        color: #112D4E;
    }

    button {
        cursor: pointer;
        background-color: #3F72AF;
        border-radius: 1.25rem;
        border: none;
        padding: 1rem 2rem;
        color: #F9F7F7;
    }

    a {
        cursor: pointer;
        text-decoration: underline;
        color: #3F72AF;
    }

    span {
        text-decoration: underline;
        color: #3F72AF;
    }

    form {
        max-width: 400px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    label {
        align-self: flex-start;
    }
    @media(min-width:768px) {
        h1 {
            font-size: 58px;
        }
    }
}

.forgot {
    margin-bottom: 1rem;
    font-size: 12px;
}