.container {
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    margin-inline: auto;

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    img {
        max-width: 300px;
        margin-inline: auto;
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
    }

    td {
        text-align: start;
        padding: 0.25rem;
    }

    table {
        width: 100%;
        border-spacing: 1rem;
        padding: 1rem 2rem;
    }
}

.nutritioninfo {
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}